<app-header></app-header>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="containerBG">
  <div class="ContainerContent">
            <div class="row">
          <div class="col-lg-12 col-md-12 pull-left">
              <h1 class="pageTitle">View Order</h1>
          </div>
      </div>

            <div class="row viewOrderPageContent">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <span class="viewOrderLabel">Organization</span><br />
                            <select id="drpCustomMessage" name="drpCustomMessage" class="viewOrderDropdown" [(ngModel)]="clientName">
                                <option value="" selected>Select Organization</option>
                                <option value={{client.clientName}} *ngFor="let client of clients">{{client.clientName}}</option>
                            </select>
                           </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="viewOrderLabel">Status</span><br />
                            <select id="drpCustomMessage1" name="drpCustomMessage" class="viewOrderDropdown" [(ngModel)]="orderStatus">
                                <option value="" selected>Select Status</option>
                                <option *ngFor="let orderStatus of orderStatuses"  value={{orderStatus.orderStatus}}>{{orderStatus.orderStatus}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="viewOrderLabel">From Date</span><br />
                            <div class="txtGroupIconRight">
                                <i class="material-icons icoCalendar">date_range</i>
                                <input class="form-control txtCalendar" type="text" readonly placeholder="mm/dd/yyyy" #dpYMD="bsDatepicker" bsDatepicker [(ngModel)]="fromDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY',showWeekNumbers:false}">
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="viewOrderLabel">To Date</span><br />
                            <div class="txtGroupIconRight">
                                <i class="material-icons icoCalendar">date_range</i>
                                <input class="form-control txtCalendar" readonly placeholder="mm/dd/yyyy" #dpYMD="bsDatepicker" bsDatepicker [(ngModel)]="toDate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY',showWeekNumbers:false}">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="pull-right note alert-warning">Note: Only New and Draft Status Orders can be edited.</div>
                    <div class="row tableList">
                        <div class="col-lg-12 col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th (click)="sort('orderId')">ORDER ID <i class="glyphicon" 
    [ngClass]="{ 
                        'glyphicon-sort-by-attributes': (column == 'orderId' && !isDesc), 
                        'glyphicon-sort-by-attributes-alt': (column == 'orderId' && isDesc),
                        'glyphicon-sort disabled': (column != 'orderId')}"
    aria-hidden="true"> </i></th>
                                        <th (click)="sort('clientName')">ORGANIZATION NAME <i class="glyphicon" 
    [ngClass]="{
                        'glyphicon-sort-by-attributes': (column == 'clientName' && !isDesc), 
                        'glyphicon-sort-by-attributes-alt': (column == 'clientName' && isDesc),
                        'glyphicon-sort disabled': (column != 'clientName')}"
    aria-hidden="true"> </i></th>
                                        <th (click)="sort('orderPrice')">ORDER TOTAL <i class="glyphicon" 
    [ngClass]="{
                        'glyphicon-sort-by-attributes': (column == 'orderPrice' && !isDesc), 
                        'glyphicon-sort-by-attributes-alt': (column == 'orderPrice' && isDesc),
                        'glyphicon-sort disabled': (column != 'orderPrice')}"
    aria-hidden="true"> </i></th>
                                        <th (click)="sort('createdDate')">ORDER DATE <i class="glyphicon" 
    [ngClass]="{
                        'glyphicon-sort-by-attributes': (column == 'createdDate' && !isDesc), 
                        'glyphicon-sort-by-attributes-alt': (column == 'createdDate' && isDesc),
                        'glyphicon-sort disabled': (column != 'createdDate')}"
    aria-hidden="true"> </i></th>
                                        <th width="150" (click)="sort('orderStatus')">STATUS <i class="glyphicon" 
    [ngClass]="{
                        'glyphicon-sort-by-attributes': (column == 'orderStatus' && !isDesc), 
                        'glyphicon-sort-by-attributes-alt': (column == 'orderStatus' && isDesc),
                        'glyphicon-sort disabled': (column != 'orderStatus')}"
    aria-hidden="true"> </i></th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders | filter: {clientName:clientName, orderStatus: orderStatus} | dateFilter: {fromDate:fromDate | date: 'yyyy-MM-dd', toDate: toDate | date: 'yyyy-MM-dd'} | orderBy: {property: column,direction: direction} | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td>{{order.orderId}}</td>
                                        <td>{{order.clientName}}</td>
                                        <td>$ {{order.orderPrice.toFixed(2)}}</td>
                                        <td>{{order.createdDate | date: 'MM/dd/yyyy'}}</td>
                                        <td>
                                            <select [disabled]="(order.orderStatusId == 6 || order.orderStatusId == 7) ? true : null" (change)="updateStatus(i,order.orderId,order.orderStatus,$event.target.value,order.orderPrice)" [(ngModel)]="order.orderStatusId">
                                                <option *ngFor="let orderStatus of orderStatuses"  value={{orderStatus.orderStatusId}}>
                                                {{orderStatus.orderStatus}}
                                                </option>
                                            </select>
                                        </td>
                                        <td class="editOrder">
                                            <div>
                                            <span title="Edit" class="glyphicon glyphicon-edit" *ngIf="order.orderStatusId == 1 || order.orderStatusId == 2" (click)="redirectPlaceOrder(order.orderId,order.clientId,order.orderStatusId,order.clientName)"></span>
                                            <span title="Edit disabled" class="glyphicon glyphicon-edit disabled" *ngIf="!(order.orderStatusId == 1 || order.orderStatusId == 2)"></span>
                                            </div>
                                            <div>
                                            <i  title="View" class="material-icons view" (click)="redirectViewOrderDetail(order.orderId,order.clientId,order.orderStatusId,order.clientName)">
                                                remove_red_eye
                                            </i>
                                            </div>
                                            <div (click)="downloadPdf(order.orderId)"><i class="material-icons view" alt="Gift Card" title="Download Gift Card">picture_as_pdf</i></div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="orders.length == 0">
                                        <td colspan="5" style="text-align: center"> No Records Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row viewOrderNavigation" *ngIf="orders.length > 0">
                        <div class="col-lg-12 col-md-12">
                            <pagination-controls (pageChange)="p = $event" previousLabel=""
                      nextLabel="" (click)="resetIndex()"></pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="modal show alertMessage" id="myModal" role="dialog" *ngIf="errorStatus!=''">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="hideMessage()">X</button>
            <h4 class="modal-title">Error Message</h4>
          </div>
          <div class="modal-body">
            <p><i class="material-icons alert-danger">check_circle</i>
                {{errorStatus}}
            </p>
          </div>
          </div>
      </div>
    </div>


    <app-footer></app-footer>
 